<header>
  <div class="px-3 py-2 bg-dark text-white">
    <div class="container__taps">
      <h1>ManageMentTS</h1>

      <ul class="nav justify-content-end" >
        <li class="tap__list" >
          <a routerLink="/"><span class="material-icons">home</span></a>
          <a routerLink="/" class="nav-link">Home</a>
        </li>
        <li class="tap__list" >
          <a routerLink="dashboard"><span class="material-icons">table_chart</span></a>
          <a routerLink="dashboard" class="nav-link">Employees</a>
        </li>
        <li class="tap__list" >
          <a routerLink="today"><span class="material-icons">calendar_month</span></a>
          <a routerLink="today" class="nav-link">Today's</a>
        </li>
        <li class="tap__list" >
          <a routerLink="apply"><span class="material-icons">assignment</span></a>
          <a routerLink="apply" class="nav-link">Apply</a>
        </li>
        <li class="tap__list" >
          <a routerLink="done"><span class="material-icons">done_all</span></a>
          <a routerLink="done" class="nav-link">Done</a>
        </li>
      </ul>
    </div>
  </div>
</header>


<router-outlet></router-outlet>




