<p></p>

<p>Date</p>

<p>DoneTable</p>
<div class="container__donetable">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">E-Mail</th>
        <th scope="col">Mobile Number</th>
        <th scope="col">Status</th>
        <th scope="col">Edits</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <!-- <tr *ngFor='let us of readData'>
        <td>{{us.firstname}}</td>
        <td>{{us.lastname}}</td>
        <td>{{us.email}}</td>
        <td>{{us.mobile}}</td>
        <td>{{us.status}}</td>
        <td>
          <button></button>
        </td>
      </tr> -->
    </tbody>
    </table>
</div>

<p>Overtime Table</p>
<div class="container__overtimetable">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">E-Mail</th>
        <th scope="col">Mobile Number</th>
        <th scope="col">Status</th>
        <th scope="col">Edits</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <!-- <tr *ngFor='let us of readData'>
        <td>{{us.firstname}}</td>
        <td>{{us.lastname}}</td>
        <td>{{us.email}}</td>
        <td>{{us.mobile}}</td>
        <td>{{us.status}}</td>
        <td>
          <button></button>
        </td>
      </tr> -->
    </tbody>
    </table>
</div>
