<p></p>

<div class="container__title">
  <mat-card>{{dateValue}}</mat-card>
</div>


<div class="appliedForm__container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">E-Mail</th>
        <th scope="col">Department</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr >

      </tr>
    </tbody>
  </table>
</div>


