
.container__donetable{
  display: block;
  margin: 1rem 2rem 1rem 2rem;
  height: 25%;
}

.container__overtimetable {
  display: block;
  margin: 1rem 2rem 1rem 2rem;
  height: 25%;
}

.container__title {
  margin: 2rem;
  width: 25%;
}
