
<h2 mat-dialog-title>Add Employees</h2>
<div mat-dialog-content>
  <form [formGroup]="employeesForm">
    <table class="table-full-width" cellspacing="0"><tr>
      <td>
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input formControlName="firstName" matInput placeholder="First Name">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
      </td>

      <td>
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input formControlName="lastName" matInput placeholder="Last Name">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
      </td>
    </tr></table>

    <mat-form-field class="form-full-width" appearance="outline">
      <mat-label>Address</mat-label>
      <input formControlName="address" matInput placeholder="1234 abc st">
      <mat-icon matSuffix>home</mat-icon>
    </mat-form-field>

    <table class="table-full-width" cellspacing="0"><tr>
      <td>
        <mat-form-field class="addr-full-width" appearance="outline">
          <mat-label>City</mat-label>
          <input formControlName="city" matInput placeholder="Ex. Vancouver">
        </mat-form-field>
      </td>

      <td>
        <mat-form-field class="addr-full-width" appearance="outline">
          <mat-label>State</mat-label>
          <input formControlName="state" matInput placeholder="Ex. British Columbia">
        </mat-form-field>
      </td>

      <td>
        <mat-form-field class="addr-full-width" appearance="outline">
          <mat-label>Postal Code</mat-label>
          <input formControlName="postalcode" matInput #postalCode maxlength="6" placeholder="Ex. V6C1T2" value="V6C1T2">
          <mat-hint align="end">{{postalCode.value.length}} / 6</mat-hint>
      </mat-form-field>
    </td>
    </tr></table>

    <mat-form-field class="form-full-width" appearance="outline">
      <mat-label>Enter your email</mat-label>
      <input formControlName="email" matInput placeholder="pat@example.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>

    <mat-form-field class="form-full-width" appearance="outline">
      <mat-label>Telephone</mat-label>
      <input formControlName="mobile" type="tel" matInput placeholder="+1555-555-1234">
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>

    <mat-form-field class="form-full-width" appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input formControlName="hiredDate" matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <table class="table-full-width" cellspacing="0"><tr>
      <td>
        <mat-form-field appearance="outline">
          <mat-label>Department</mat-label>
          <mat-select formControlName="department">
            <mat-option value="HQ">HQ</mat-option>
            <mat-option value="HR">HR</mat-option>
            <mat-option value="Accounting">Accounting</mat-option>
            <mat-option value="Customer Service">Customer Service</mat-option>
            <mat-option value="IT">IT</mat-option>
            <mat-option value="R&D">R&D</mat-option>
            <mat-option value="QA">QA</mat-option>
          </mat-select>
        </mat-form-field>
      </td>

      <td>
        <mat-form-field appearance="outline">
          <mat-label>Position</mat-label>
          <mat-select formControlName="position">
            <mat-option value="Manager">Manager</mat-option>
            <mat-option value="Assistant Manager">Assistant Manager</mat-option>
            <mat-option value="Accountant">Accountant</mat-option>
            <mat-option value="Clerk">Clerk</mat-option>
            <mat-option value="Senior Engineer">Senior</mat-option>
            <mat-option value="Junior Engineer">Junior</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr></table>

    <mat-form-field class="form-full-width" appearance="outline">
      <mat-label>Description</mat-label>
      <textarea formControlName="description" matInput placeholder="Ex..."></textarea>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addEmployees()" >Save</button>
</div>
