<div class="container mt-5">

  <!-- Showing Error Message -->
  <div *ngIf="errormsg" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{errormsg}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <!-- Showing Success Message -->
  <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{successmsg}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <form [formGroup]="userForm">
    <div class="col-lg-4 mt-2">
      <input type="text" formControlName="firstname" placeholder="Enter First Name">
    </div>

    <div class="col-lg-4 mt-2">
      <input type="text" formControlName="lastname" placeholder="Enter Last Name">
    </div>

    <div class="col-lg-4 mt-2">
      <input type="text" formControlName="email" placeholder="Enter E-Mail">
    </div>

    <div class="col-lg-4 mt-2">
      <input type="text" formControlName="mobilephone" placeholder="Enter Mobile Number">
    </div>

    <div class="col-lg-4 mt-2" *ngIf="!getparamid" (click)="userSubmit()">
      <button class="btn btn-primary">Create</button>
    </div>

    <div class="col-lg-4 mt-2" *ngIf="getparamid" (click)="userUpdate()">
      <button class="btn btn-dark btn-sm">Update</button>
    </div>
  </form>
</div>
