
<h2 mat-dialog-title>Add Employees</h2>
<div mat-dialog-content>
  <form [formGroup]="searchForm">
    <mat-form-field appearance="outline">
      <mat-label>ID</mat-label>
      <input formControlName="employeeID" matInput placeholder="EX. 254">
      <mat-icon matSuffix>account_circle</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input formControlName="employeeFirstName" matInput placeholder="First Name">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input formControlName="employeeLastName" matInput placeholder="Last Name">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="searchEmployee()">Search</button>
</div>
