
.search__continer {
  margin: 0 2rem 2rem;
  display: flex;
  gap: 0;
}

.search__continer > form {
  width: 40%;
}

.button__continer {
  margin: 1.5rem 2rem;
  position: static;
}

mat-form-field {
  width: 100%;
}
