<p></p>

<div class="search__continer">
  <!-- Search Drop Down by Years, Months, and Days -->
  <form [formGroup]="searchDateForm">
    <mat-form-field color="accent" appearance="outline">
      <mat-label>Custom calendar color</mat-label>
      <input formControlName="dataDate" matInput [matDatepicker]="picker2">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 color="primary"></mat-datepicker>
    </mat-form-field>
  </form>

  <div class="button__continer">
    <button class="btn btn-primary" (click)="getAllData()">Search</button>
  </div>
</div>


<div class="worked__container">
  <div>
    <p>Worked</p>
    <p>Data</p>
  </div>
  <div>
    <p>Overtime Worked</p>
    <p>Data</p>
  </div>
</div>

<div class="container__table">
  <p>Worked Table</p>
</div>

<div class="container__table">
  <p>Overtime Worked Table</p>
</div>


