
.search__continer {
  border-radius: 15px;
  margin: 0 1rem 1rem;
  display: flex;
}

.search__continer > div {
  height: fit-content;
  width: 95%;
  display: flex;
  gap: 1rem;
  margin: 0.5rem 1rem 0 1rem;
}

.button__continer {
  margin: 0 0 2rem 2rem;
}

.worked__container {
  display: flex;
  margin: 0 2rem 1rem 5rem;
  gap: 8em;
  font-weight: 600;
  font-size: larger;
}

.worked__container > div > p {
  display: inline;
  margin-right: 4rem;
}

.container__table {
  margin: 2rem;
  height: 27%;
  border: 2px inset;
  overflow: scroll;
}






