<div class="container">
  <table class="table ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">E-Mail</th>
        <th scope="col">Mobile Number</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = 'let us of readData'>
        <th scope="row">{{ us.id }}</th>
        <td>{{ us.firstname }}</td>
        <td>{{ us.lastname }}</td>
        <td>{{ us.email }}</td>
        <td>{{ us.mobilephone }}</td>
      </tr>

    </tbody>
  </table>
</div>
