<p></p>

<div>
  <!-- Change Background Color -->
  <div class="title__container">
    <h4>TOTAL ANALAYSIS</h4>
  </div>

  <div class="total_container">
    <p>Total Employees</p>
    <p>Today's Commuters</p>
    <p>Holiday Takers</p>
  </div>

  <div class="total__employees-list">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">E-Mail</th>
          <th scope="col">Mobile Number</th>
          <th scope="col">Edits</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
      </table>
  </div>
</div>

