@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.title__container{
  margin: 2.5rem;
  width: 20%;
  height: 3.7rem;
  background: #92a8d1;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title__container h4{
  color: white;
  margin: 1rem;
  font-family: 'Poppins', sans-serif;
}

.total__container {
  margin: 1rem;
}

.total__employees-list{
  margin: 2.5rem;
  width: auto;
}

.total__container {
  margin: 0 4rem 0 4rem;
  display: block;
}

.total__content {
  display: flex;
  gap: 20%
}
.total__content > p{
  font-size: larger;
  font-weight: 500;
  width: 17rem;
}

.button__container {
  margin: 0 3rem 1rem 0;
  float: right;
  display: flex;
  gap: 10px;
}



